
.header{
	height : 100vh;
	padding : 0;
	margin : 0;
	width : 100%;
	vertical-align: middle;
	position : relative ;
}


.column-block{
	display : flex;
	flex-wrap: wrap;
	justify-content : space-around;
}

.Left-colum{
	width : 50%;
	text-align : center;
	overflow: hidden;
	position : fixed;
	left : 0;
}
.right-colum{
	width: 50%;
	right : 0;
	position : absolute;
	border : 3px solid grey;
}
.header .profile-image{
	position : absolute;
	top : 0px;
	left : 0px;
	z-index : -1;
	width : 100%;
	height : 100%;
	background-image : url(Copy.jpg);
	background-size : cover;
	background-position : top center;
}
.header .profile-image:before{
	content : "";
	position : absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom :0;
	background : linear-gradient(-45deg,rgba(42,84,250,0.5) 0%,rgba(42,84,250,0.5) 20%, transparent 30% ,transparent 100%);
}
.header .content{
	position : absolute;
	left : 0;
	bottom:0;
	right:0;
	margin : 0 auto;
	padding : 10%;
	color : #fff;
}
.header .content .icon li a:hover{
	  border-color : white;
	}
.header .content .icon{
	margin : 0;
	padding : 0;
	display : block;
}
.header .content .icon li a{
	margin : 10px;
	display : inline-block;
	border : 2px solid red ;
    border-radius : 100%;
    height : 30px;
    width : 30px;
    color : #fff;
    border-radius : 100%;
    background : blue;
    text-align: center;
}
.section-wraper{
	padding : 50px;
}

.san{
	background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
	border-radius : 5px; 
	margin-top : 10px;
	margin-bottom : 10px;
	font-family : Sans-pro;
}
.first-container{
	background-color : #e3e1da !important;
}
.second-container{
		background-color : #e3e1da !important;
}
.third-container{
		background-color : #e3e1da !important;
}
